/* Template.scss bricss SASS Framework
	Define all important Variables for max-Wrapper width, gridspace, Fonts and colors
 */

//SET WRAPPER WIDTH
$wrapper: 	990px;

//SET GRID SPACE
$gridSpace: 20px;

//SET Spacer sizes
$spacerMax: 50; //Max Spacer size
$spacerSteps: 10; //Steps for Spacer


//SET YOUR BASIC COLORS color Prefix ce-
$cl-font: 		#333333; // Standart Font color set in _color.scss
$cl-bright: 	#fdfdfd; //Also set als bright font color in _color.scss
$cl-primary: 	#96281B;
$cl-second:		#6C7A89;
$cl-alert:		#C0392B;
$cl-success:	#2ECC71;
$cl-warning:	#E9D460;

//Add new colors in this list and the array bellow!

$colors: (
				cl-primary: 	$cl-primary,
				cl-second: 		$cl-second,
				cl-alert: 		$cl-alert,
				cl-succes: 		$cl-success,
				cl-warning: 	$cl-warning,
				cl-bright:		$cl-bright
);


//SET BASIC FONT SIZES Prefix for font fs-
$fs-xsmall: 	8px;
$fs-small: 		12px;
$fs-medium: 	16px;
$fs-large: 		20px;
$fs-xlarge: 	28px;
$fs-xxlarge: 	38px;
$fs-xxxlarge: 	46px;
$fs-mxlarge: 	72px;

$fontsizes: (
				xmsall:		$fs-xsmall,
				small: 		$fs-small,
				medium: 	$fs-medium,
				large: 		$fs-large,
				xlarge: 	$fs-xlarge,
				xxlarge: 	$fs-xxlarge,
				xxxlarge: 	$fs-xxxlarge,
				mxlarge: 	$fs-mxlarge
);

//SET BASIC FONT WEIGHTS
$fw-light: 	300;
$fw-normal: 400;
$fw-bold: 	600;

//SET STANDARD FONT SET
$fontSet: 'Ubuntu', Helvetica, sans-serif;
