/* Template.scss bricss SASS Framework
    Ver 0.1 21.12.16
	Define all important Variables for max-Wrapper width, gridspace, Fonts and colors
 */
/*  bricss _Core.scss
    includes reset, basics rules and common fixes
*/
/* RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Basic rules */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333333;
  font-family: "Ubuntu", Helvetica, sans-serif; }

html, body {
  margin: 0px;
  padding: 0px; }

.wrapper {
  width: 100%;
  max-width: 990px;
  margin: 0px auto; }

.wrapper::after {
  content: '';
  clear: both;
  height: 0px;
  width: 0px;
  display: block;
  overflow: hidden; }

h1 {
  font-size: 46px;
  font-weight: 400; }

h2 {
  font-size: 38px;
  font-weight: 400; }

h3, .subline {
  font-size: 28px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 140%;
  font-weight: 300; }

a {
  color: #333333; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

/* Common Fixes */
/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* IE6 */
* html .clearfix {
  height: 1%; }

/* IE7 */
*:first-child + html .clearfix {
  min-height: 1px; }

*[class^="g--"] {
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

/* 4er */
.g--1-4 {
  width: calc(100% / 4 - 20px); }

.g--2-4 {
  width: calc(100% / 4 * 2 - 20px); }

.g--3-4 {
  width: calc(100% / 4 * 3 - 20px); }

.g--4-4 {
  width: calc(100% - 20px); }

/* 6er */
.g--1-6 {
  width: calc(100% / 6 - 20px); }

.g--2-6 {
  width: calc(100% / 6 * 2 - 20px); }

.g--3-6 {
  width: calc(100% / 6  * 3 - 20px); }

.g--4-6 {
  width: calc(100% / 6 * 4 - 20px); }

.g--5-6 {
  width: calc(100% / 6 * 5 - 20px); }

.g--6-6 {
  width: calc(100% - 20px); }

/*
  _bricss SASS Framework
  _UI
  User Interface elements like Button Input etc.
 */
button, .btn {
  border: 1px solid transparent;
  background-color: #6C7A89;
  display: inline;
  max-width: 100%;
  margin: 0;
  padding: .5em;
  border-radius: 4px;
  outline: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

button:hover {
  background-color: #8794a1; }

input, textarea {
  display: block;
  width: auto;
  margin: 0;
  padding: .5em;
  border: 1px solid #3F3F3F;
  border-radius: 2px;
  outline: 0;
  background-color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: .5em; }

/* Colors.scss bricss SASS Framework
	Creates all color classes
 */
.bg--cl-primary {
  background-color: #96281B; }

.bg--cl-primary-hover:hover {
  background-color: #dc4c3b;
  transition: all 0.3s ease;
  color: #40110b; }

.bg--cl-primary-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(150, 40, 27, 0.5); }

.bg--cl-primary-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(150, 40, 27, 0.7); }

.bg--cl-primary-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(150, 40, 27, 0.9); }

.fc--cl-primary {
  color: #96281B; }
  .fc--cl-primary span {
    color: #96281B; }

.fc--cl-primary-hover:hover {
  color: #96281B; }
  .fc--cl-primary-hover:hover span {
    color: #96281B; }

.bg--cl-second {
  background-color: #6C7A89; }

.bg--cl-second-hover:hover {
  background-color: #a4adb7;
  transition: all 0.3s ease;
  color: #3f4750; }

.bg--cl-second-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(108, 122, 137, 0.5); }

.bg--cl-second-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(108, 122, 137, 0.7); }

.bg--cl-second-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(108, 122, 137, 0.9); }

.fc--cl-second {
  color: #6C7A89; }
  .fc--cl-second span {
    color: #6C7A89; }

.fc--cl-second-hover:hover {
  color: #6C7A89; }
  .fc--cl-second-hover:hover span {
    color: #6C7A89; }

.bg--cl-alert {
  background-color: #EF4836; }

.bg--cl-alert-hover:hover {
  background-color: #f79e94;
  transition: all 0.3s ease;
  color: white; }

.bg--cl-alert-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(239, 72, 54, 0.5); }

.bg--cl-alert-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(239, 72, 54, 0.7); }

.bg--cl-alert-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(239, 72, 54, 0.9); }

.fc--cl-alert {
  color: #EF4836; }
  .fc--cl-alert span {
    color: #EF4836; }

.fc--cl-alert-hover:hover {
  color: #EF4836; }
  .fc--cl-alert-hover:hover span {
    color: #EF4836; }

.bg--cl-succes {
  background-color: #2ECC71; }

.bg--cl-succes-hover:hover {
  background-color: #7ee2a8;
  transition: all 0.3s ease;
  color: #1b7943; }

.bg--cl-succes-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(46, 204, 113, 0.5); }

.bg--cl-succes-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(46, 204, 113, 0.7); }

.bg--cl-succes-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(46, 204, 113, 0.9); }

.fc--cl-succes {
  color: #2ECC71; }
  .fc--cl-succes span {
    color: #2ECC71; }

.fc--cl-succes-hover:hover {
  color: #2ECC71; }
  .fc--cl-succes-hover:hover span {
    color: #2ECC71; }

.bg--cl-warning {
  background-color: #E9D460; }

.bg--cl-warning-hover:hover {
  background-color: #f5ecba;
  transition: all 0.3s ease;
  color: white; }

.bg--cl-warning-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(233, 212, 96, 0.5); }

.bg--cl-warning-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(233, 212, 96, 0.7); }

.bg--cl-warning-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(233, 212, 96, 0.9); }

.fc--cl-warning {
  color: #E9D460; }
  .fc--cl-warning span {
    color: #E9D460; }

.fc--cl-warning-hover:hover {
  color: #E9D460; }
  .fc--cl-warning-hover:hover span {
    color: #E9D460; }

.bg--cl-font {
  background-color: #333333; }

.bg--cl-font-hover:hover {
  background-color: #666666;
  transition: all 0.3s ease;
  color: black; }

.bg--cl-font-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51, 0.5); }

.bg--cl-font-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51, 0.7); }

.bg--cl-font-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51, 0.9); }

.fc--cl-font {
  color: #333333; }
  .fc--cl-font span {
    color: #333333; }

.fc--cl-font-hover:hover {
  color: #333333; }
  .fc--cl-font-hover:hover span {
    color: #333333; }

.bg--cl-dark {
  background-color: #3F3F3F; }

.bg--cl-dark-hover:hover {
  background-color: #727272;
  transition: all 0.3s ease;
  color: #0c0c0c; }

.bg--cl-dark-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(63, 63, 63, 0.5); }

.bg--cl-dark-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(63, 63, 63, 0.7); }

.bg--cl-dark-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(63, 63, 63, 0.9); }

.fc--cl-dark {
  color: #3F3F3F; }
  .fc--cl-dark span {
    color: #3F3F3F; }

.fc--cl-dark-hover:hover {
  color: #3F3F3F; }
  .fc--cl-dark-hover:hover span {
    color: #3F3F3F; }

.bg--cl-bright {
  background-color: #fdfdfd; }

.bg--cl-bright-hover:hover {
  background-color: white;
  transition: all 0.3s ease;
  color: white; }

.bg--cl-bright-alpha-5 {
  box-shadow: inset 0 0 0 1000px rgba(253, 253, 253, 0.5); }

.bg--cl-bright-alpha-7 {
  box-shadow: inset 0 0 0 1000px rgba(253, 253, 253, 0.7); }

.bg--cl-bright-alpha-9 {
  box-shadow: inset 0 0 0 1000px rgba(253, 253, 253, 0.9); }

.fc--cl-bright {
  color: #fdfdfd; }
  .fc--cl-bright span {
    color: #fdfdfd; }

.fc--cl-bright-hover:hover {
  color: #fdfdfd; }
  .fc--cl-bright-hover:hover span {
    color: #fdfdfd; }

/*
  _bricss SASS Framework
  _Utils
  Helper claaes for margin, padding, space, algin etc.
 */
.spacer--50 {
  padding-top: 50px; }

.p--50 {
  padding: 50px; }

.pt--50 {
  padding-top: 50px; }

.pr--50 {
  padding-right: 50px; }

.pb--50 {
  padding-bottom: 50px; }

.pl--50 {
  padding-left: 50px; }

.ptb--50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.m--50 {
  margin: 50px; }

.mt--50 {
  margin-top: 50px; }

.mr--50 {
  margin-right: 50px; }

.mb--50 {
  margin-bottom: 50px; }

.ml--50 {
  margin-left: 50px; }

.mtb--50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.spacer--40 {
  padding-top: 40px; }

.p--40 {
  padding: 40px; }

.pt--40 {
  padding-top: 40px; }

.pr--40 {
  padding-right: 40px; }

.pb--40 {
  padding-bottom: 40px; }

.pl--40 {
  padding-left: 40px; }

.ptb--40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.m--40 {
  margin: 40px; }

.mt--40 {
  margin-top: 40px; }

.mr--40 {
  margin-right: 40px; }

.mb--40 {
  margin-bottom: 40px; }

.ml--40 {
  margin-left: 40px; }

.mtb--40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.spacer--30 {
  padding-top: 30px; }

.p--30 {
  padding: 30px; }

.pt--30 {
  padding-top: 30px; }

.pr--30 {
  padding-right: 30px; }

.pb--30 {
  padding-bottom: 30px; }

.pl--30 {
  padding-left: 30px; }

.ptb--30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.m--30 {
  margin: 30px; }

.mt--30 {
  margin-top: 30px; }

.mr--30 {
  margin-right: 30px; }

.mb--30 {
  margin-bottom: 30px; }

.ml--30 {
  margin-left: 30px; }

.mtb--30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.spacer--20 {
  padding-top: 20px; }

.p--20 {
  padding: 20px; }

.pt--20 {
  padding-top: 20px; }

.pr--20 {
  padding-right: 20px; }

.pb--20 {
  padding-bottom: 20px; }

.pl--20 {
  padding-left: 20px; }

.ptb--20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.m--20 {
  margin: 20px; }

.mt--20 {
  margin-top: 20px; }

.mr--20 {
  margin-right: 20px; }

.mb--20 {
  margin-bottom: 20px; }

.ml--20 {
  margin-left: 20px; }

.mtb--20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.spacer--10 {
  padding-top: 10px; }

.p--10 {
  padding: 10px; }

.pt--10 {
  padding-top: 10px; }

.pr--10 {
  padding-right: 10px; }

.pb--10 {
  padding-bottom: 10px; }

.pl--10 {
  padding-left: 10px; }

.ptb--10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.m--10 {
  margin: 10px; }

.mt--10 {
  margin-top: 10px; }

.mr--10 {
  margin-right: 10px; }

.mb--10 {
  margin-bottom: 10px; }

.ml--10 {
  margin-left: 10px; }

.mtb--10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.w--100 {
  width: 100%; }

.ta--center {
  text-align: center; }

.ta--justify {
  text-align: justify; }

.ta--left {
  text-align: left; }

.ta--right {
  text-align: right; }

.fw--light {
  font-weight: 300; }

.fw--normal {
  font-weight: 400; }

.fw--bold {
  font-weight: 600; }

.h--100p {
  height: 100%; }

.fl--left {
  float: left; }

.fl--right {
  float: right; }

.c--pointer {
  cursor: pointer; }

.no-wrap {
  white-space: nowrap; }

/* NOT WORKING YET
*[class^="flex--"]  {
	margin: 0px 10px;
	float: left;
}
*/
.flex {
  display: flex; }

/* flex box to change order of child divs
	directions:
	rtl	= right to left
	ltr = left to right
	btt = bottom to top
	ttb = top to bottom
*/
.flex--dir-rtl {
  flex-direction: row-reverse; }

.flex--dir-ltr {
  flex-direction: row; }

.flex--dir-btt {
  flex-direction: column-reverse; }

.flex--dir-ttb {
  flex-direction: column; }

/* 
	flex box to arrange child divs horizontically
*/
.flex--jus-start {
  justify-content: flex-start; }

.flex--jus-end {
  justify-content: flex-end; }

.flex--jus-between {
  justify-content: space-between; }

.flex--jus-around {
  justify-content: space-around; }

.flex--jus-center {
  justify-content: center; }

/* 
	flex box to arrange child divs vertically
*/
.flex--ali-start {
  align-items: flex-start; }

.flex--ali-end {
  align-items: flex-end; }

.flex--ali-center {
  align-items: center; }

.flex--ali-stretch {
  align-items: stretch; }

.flex--ali-baseline {
  align-items: baseline; }

/*
	flex shorthands
*/
.flex--center {
  align-items: center;
  justify-content: center; }

/* Template.scss bricss SASS Framework
	Define all important Variables for max-Wrapper width, gridspace, Fonts and colors
 */

/*# sourceMappingURL=bricss.css.map */
